<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona o HTML</title>
    <meta name="description" content="Podstawowe informacje o HTML, CSS i JS">
    <meta name="keywords" content="html, css, javascript, sda, tarr">
</head>
<body>
<header>
    <nav>
        <a href="index.html">Home</a>
        <a href="start_html.html">HTML</a>
        <a href="start_css.html">CSS</a>
    </nav>
</header>
<main>
    <article>
        <H1>O stronie</H1>
        <p>Strona z podstawowymi informacjami na temat JavaScript.</p>
        <form>
            <input type="number" id="a" name="a"><br>
            <input type="number" id="b" name="b"><br>
            <button type="button" onclick="oblicz('+')">Dodaj</button>
            <button type="button" onclick="oblicz('*')">Pomnóż</button>
            <button type="button" onclick="demoCar()">Demo Car</button>
        </form>
        <div id="results-history">
            <h2>Wyniki</h2>
        </div>
        <script>
            //let a = 2325;
            let b = 0.1;
            const PI = 3.14;
            a = '0.1a'; //tu także zadeklarowano zmienną, choć trudno odróżnić od przypisania
            isValid = true
            console.log(a * b);
            console.log(a == b);
            console.log(a === b);
            console.log(a ** 4)
            //console.log(a**=b)
            console.log(typeof d)
            console.log(typeof void 0)
            console.log(a instanceof String)
            console.log(isValid)
            let car = {
                power: 125,
                color: 'black',
                model: 'A5',
                start: function (){
                    console.log("Starujemy");
                }
            };
            console.log(car);
            console.log(car.color);
            car.color = 'red';
            car.start();
            //dostęp do właściwości obiektu operatorem indeksowania
            console.log(car["color"]);
            let arr = [];
            let cars = [{color: "red", power: 120}, {color: "black", power: 200}];
            let numbers = [1,2,3,4];
            numbers.push(5);//dodaje na końcu tablicy
            console.log(numbers.pop());//pobiera z końca tablicy
            console.log(numbers);
            for(let i = 0; i < numbers.length; i++){
                console.log(numbers[i]);
            }
            for(let i in numbers){
                console.log(numbers[i]);
            }
            for(let number of numbers){
                console.log(number);
            }
            let tablica = [];
            //console.log(typeof tablica);
            console.log(numbers instanceof Array);
            console.log(numbers instanceof Object);
            function oblicz(operation) {
                let inputA = document.getElementById("a")
                let inputB = document.getElementById("b");
                let resultHistory = document.getElementById("results-history")
                let result = 0;
                switch (operation){
                    case "+":
                        result = suma(Number(inputA.value), Number(inputB.value));
                        break;
                        case "*":
                        result = mul(Number(inputA.value), Number(inputB.value));
                        break;
                }
                //resultHistory.innerHTML += "<p>" + result + "</p>";
                resultHistory.innerHTML += `<p> ${result}</p>`
            }

            function suma(x, y) {
                return x + y;
            }
        </script>
    </article>
</main>
<footer>

</footer>
<script rel="script" src="../static/script.js"></script>
</body>
</html>