<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Strona o HTML</title>
    <meta name="description" content = "Podstawowe informacje o HTML, CSS i JD">
    <meta name=" keywords content = "html, css, javascript, sda, tarr>

</head>
<body>

<header>
    <nav>
    <a href="index_html.html">Home</a>
    <a href = "start_css.html">CSS</a>
    <a href = "start_js.html">JavaScript</a>
        <main><article>
            <H1>O stronie</H1>
            <p> "Strona z podawowymi informacjami na temat technologii front-endu"</p>
        </article>
            <article>
                <h1>
                    "Przylad listy numerowaniej"
                </h1>
                <ol>
                    <li> Nagłówki </li>
                    <li> Paragraf</li>
                    <li> ink</li>
                    <li> Lista</li>


                </ol>
                <article>
                    <h1> Obrazek</h1>

                    <img width = "200px"
                         src=https://logos download.com/wp content/uploads/2016/10/Java_logo_icon.png alt= "Logo Java">
                </article>
                <h1>
                    Przykładowa tabela
                </h1>
                <table>
                    <thead>
                    <tr>
                    <th> lp.</th>
                    <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>emial</th>

                    </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>Adam</td>
                        <td>Kowalski</td>
                        <td>akowal@polo.pl</td>
                    </tr>
                    </tr>
                    </thead>
                    <tr>
                        <td>2</td>
                        <td>Anna</td>
                        <td>Malinowska</td>
                        <td>amalinowska@polo.pl</td>
                    </tr>
                    </tr>
                    </thead>
                    <tr>
                        <td>3</td>
                        <td>Zygmunt</td>
                        <td>Kwiatkowski</td>
                        <td>zkwiat@polo.pl</td>
                    </tr>
                    <tr>
                    <td> colspan-"4" > Stopka tabeli</td>
                    </tr>
                    <article>
                        <h1>Klacówchówsa <em>Strog</em>em></h1>h1>
                        </em></h1>
                        <p>Klasa <em> String</em>em> służy do tworzenia łańcuchów/em></p>
                        <h2> Konkatenacja łańcówchów</h2>
                        <p> łańcuch łączymy </p>
                        <pre>
                            <code>
                                String a= "ABCD";
                                String b = "EFGH";
                                System.out.println(a+b);
                            </code>
                        </pre>
                    </article>
                    <article>
                        <h1> Formularze</h1>
                        <h2> Przykład prostego fomularza z metodą GET</h2>
                        <form> action="index.html" method="get">
                            <fieldset>
                                <label for="user-mame">Wypisz swoje imię</label><br>
                                <input type=text" id="user-name" name="user-name"><br>
                                <label for="user-email">Wypisz swoje imię</label><br>
                                <input type ="email" id="user-email" name="user-name"><br>

                            </fieldset>
                            <input type="submit" value="Zarejestruj"><br>
                        </form>
                        <h2> Przykład formularza z metod POST</h2>
                        <form action="index.html: method"; "post">

                        </form>

                        <fieldset> name "password"> <br>

                            in


                        </fieldset>

                    </article>
                    <tbody>

                    </tbody>
                </table>
            </article>
        </main>
<footer>

</footer>

    </nav>
</header>

</body>
</html>